<body #screen>
  <p>Start editing to see some magic happen :)</p>

  <div>
    <h1>Hey!</h1>
    <p>Ah bueno ahora apoenr la camara :)</p>
  </div>
  <button (click)="capture()">Take</button>

  
</body>

<div #container>
  <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
  (initError)="handleInitError($event)">
  </webcam>
  <img id="target1" src="assets/my.svg" height="100" width="100" [ngStyle]="targetStyle()"/>
</div>


<div style="text-align:center">
	<div>
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
		<div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
		<div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
	</div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
	<li>{{error | json}}</li>
</ul>